SDK/Midway.Edi.Api.Client/Service References/EdiServiceReference/EdiService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Errors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Errors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Common" />
  <xs:simpleType name="ServiceErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoError" />
      <xs:enumeration value="UnexpectedServerError" />
      <xs:enumeration value="Unauthorized" />
      <xs:enumeration value="BoxAccessError" />
      <xs:enumeration value="SubscriberNotExists" />
      <xs:enumeration value="GetFileListError" />
      <xs:enumeration value="GetFileError" />
      <xs:enumeration value="FileNotFound" />
      <xs:enumeration value="CreateFileError" />
      <xs:enumeration value="ArchiveFileError" />
      <xs:enumeration value="FileNotFoundOrCanNotBeArchived" />
      <xs:enumeration value="ValidationError" />
      <xs:enumeration value="OrganizationNotFound" />
      <xs:enumeration value="LocationNotFound" />
      <xs:enumeration value="LocationAccessDenied" />
      <xs:enumeration value="LocationAlreadyExists" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorCode" nillable="true" type="tns:ServiceErrorCode" />
  <xs:complexType name="ModelValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfModelValidationResult" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfModelValidationMessage" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ValidationMessageStatusEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelValidationResult" nillable="true" type="tns:ModelValidationResult" />
  <xs:complexType name="ArrayOfModelValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelValidationResult" nillable="true" type="tns:ModelValidationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelValidationResult" nillable="true" type="tns:ArrayOfModelValidationResult" />
  <xs:complexType name="ArrayOfModelValidationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelValidationMessage" nillable="true" type="tns:ModelValidationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelValidationMessage" nillable="true" type="tns:ArrayOfModelValidationMessage" />
  <xs:complexType name="ModelValidationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ValidationMessageStatusEnum" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelValidationMessage" nillable="true" type="tns:ModelValidationMessage" />
  <xs:complexType name="ValidationMessageStatusEnum">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Common" base="q1:EnumValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ValidationMessageStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationMessageStatusEnum" nillable="true" type="tns:ValidationMessageStatusEnum" />
  <xs:simpleType name="ValidationMessageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValidationMessageStatus" nillable="true" type="tns:ValidationMessageStatus" />
  <xs:complexType name="ModelValidationOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultFormat" nillable="true" type="tns:ValidationResultFormatEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelValidationOptions" nillable="true" type="tns:ModelValidationOptions" />
  <xs:complexType name="ValidationResultFormatEnum">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Common" base="q2:EnumValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ValidationResultFormat" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationResultFormatEnum" nillable="true" type="tns:ValidationResultFormatEnum" />
  <xs:simpleType name="ValidationResultFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="List" />
      <xs:enumeration value="Tree" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValidationResultFormat" nillable="true" type="tns:ValidationResultFormat" />
</xs:schema>