SDK/Midway.Edi.Api.Client/Service References/EdiServiceReference/EdiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://synerdocs.ru" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EdiService" targetNamespace="http://synerdocs.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:5011/EdiService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://synerdocs.ru/Imports">
      <xsd:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd0" namespace="http://synerdocs.ru" />
      <xsd:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" />
      <xsd:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Errors" />
      <xsd:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEdiService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IEdiService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IEdiService_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_SendDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDocument" />
  </wsdl:message>
  <wsdl:message name="IEdiService_SendDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_ArchiveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveDocument" />
  </wsdl:message>
  <wsdl:message name="IEdiService_ArchiveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="IEdiService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_SearchLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocations" />
  </wsdl:message>
  <wsdl:message name="IEdiService_SearchLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_CreateLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLocation" />
  </wsdl:message>
  <wsdl:message name="IEdiService_CreateLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_UpdateLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocation" />
  </wsdl:message>
  <wsdl:message name="IEdiService_UpdateLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IEdiService_CancelLocationRegistrationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelLocationRegistrationRequest" />
  </wsdl:message>
  <wsdl:message name="IEdiService_CancelLocationRegistrationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelLocationRegistrationRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IEdiService">
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/GetFileList" message="tns:IEdiService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/GetFileListResponse" message="tns:IEdiService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/GetDocument" message="tns:IEdiService_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/GetDocumentResponse" message="tns:IEdiService_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDocument">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/SendDocument" message="tns:IEdiService_SendDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/SendDocumentResponse" message="tns:IEdiService_SendDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveDocument">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/ArchiveDocument" message="tns:IEdiService_ArchiveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/ArchiveDocumentResponse" message="tns:IEdiService_ArchiveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/GetLocation" message="tns:IEdiService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/GetLocationResponse" message="tns:IEdiService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLocations">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/SearchLocations" message="tns:IEdiService_SearchLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/SearchLocationsResponse" message="tns:IEdiService_SearchLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLocation">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/CreateLocation" message="tns:IEdiService_CreateLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/CreateLocationResponse" message="tns:IEdiService_CreateLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/UpdateLocation" message="tns:IEdiService_UpdateLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/UpdateLocationResponse" message="tns:IEdiService_UpdateLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelLocationRegistrationRequest">
      <wsdl:input wsaw:Action="http://synerdocs.ru/IEdiService/CancelLocationRegistrationRequest" message="tns:IEdiService_CancelLocationRegistrationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://synerdocs.ru/IEdiService/CancelLocationRegistrationRequestResponse" message="tns:IEdiService_CancelLocationRegistrationRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EdiService">
    <wsdl:port name="BasicHttpBinding_IEdiService" binding="i0:BasicHttpBinding_IEdiService">
      <soap:address location="http://localhost:5011/EdiService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IEdiService" binding="i0:BasicHttpsBinding_IEdiService">
      <soap:address location="https://w798w81.comp.npo:5012/EdiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>