SDK/Midway.Edi.Api.Client/Service References/EdiServiceReference/EdiService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://synerdocs.ru" elementFormDefault="qualified" targetNamespace="http://synerdocs.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" />
  <xs:import schemaLocation="http://localhost:5011/EdiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="request" nillable="true" type="q1:GetFileListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="GetFileListResult" nillable="true" type="q2:GetFileListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="request" nillable="true" type="q3:GetDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="GetDocumentResult" nillable="true" type="q4:GetDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="request" nillable="true" type="q5:SendDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="SendDocumentResult" nillable="true" type="q6:SendDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="request" nillable="true" type="q7:ArchiveDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="ArchiveDocumentResult" nillable="true" type="q8:ArchiveDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="parameters" nillable="true" type="q9:RequestParameters" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="GetLocationResult" nillable="true" type="q11:EdiLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="parameters" nillable="true" type="q12:RequestParameters" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="options" nillable="true" type="q13:EdiLocationListOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="SearchLocationsResult" nillable="true" type="q14:EdiLocationListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="parameters" nillable="true" type="q15:RequestParameters" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="location" nillable="true" type="q16:EdiLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="CreateLocationResult" nillable="true" type="q17:EdiLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="parameters" nillable="true" type="q18:RequestParameters" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="location" nillable="true" type="q19:EdiLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="UpdateLocationResult" nillable="true" type="q20:EdiLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLocationRegistrationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="parameters" nillable="true" type="q21:RequestParameters" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLocationRegistrationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Midway.Edi.Api.Models" minOccurs="0" name="CancelLocationRegistrationRequestResult" nillable="true" type="q23:EdiLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>