SDK/Midway.ServiceClient/Service References/Model/ExchangeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FetchingSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Paging" nillable="true" type="tns:PageSettings" />
      <xs:element minOccurs="0" name="Sorting" nillable="true" type="tns:ArrayOfSortingSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FetchingSettings" nillable="true" type="tns:FetchingSettings" />
  <xs:complexType name="PageSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageSettings" nillable="true" type="tns:PageSettings" />
  <xs:complexType name="ArrayOfSortingSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortingSetting" nillable="true" type="tns:SortingSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortingSetting" nillable="true" type="tns:ArrayOfSortingSetting" />
  <xs:complexType name="SortingSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asc" type="xs:boolean" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortingSetting" nillable="true" type="tns:SortingSetting" />
</xs:schema>