SDK/Midway.ServiceClient/Service References/Model/ExchangeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/ExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" />
  <xs:import schemaLocation="http://localhost:5001/ExchangeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" />
  <xs:import schemaLocation="http://localhost:5001/ExchangeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.GoodsTransportWaybill" />
  <xs:complexType name="EnumValuesRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EnumValuesRequest" nillable="true" type="tns:EnumValuesRequest" />
  <xs:complexType name="AllEnumValuesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EnumValuesRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllEnumValuesRequest" nillable="true" type="tns:AllEnumValuesRequest" />
  <xs:complexType name="FullEnumValuesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EnumValuesRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="WithActivityStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithAddressLocationTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithAddressTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithCertificateIssueRequestTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithCertificateIssueStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithCertificateValidationStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithCircumstancesOfProducings" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithCloudProviderTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithCompositeFilterOperatorTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithContactAuthTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithContactStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithContentFormats" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDivergenceDocumentTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentDeliveryStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentFlowParticipantRoles" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentFlowResultModes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentFlowTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentMultiDeliveryStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentMultiSignStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentOperationCodes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentPurposes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentRevocationStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentSignStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentTagTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDocumentTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithDraftMessageSendModes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithEdiSubscriberStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithEmployeeFilterFieldNameLists" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithEnhancedSignCreateStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithEnhancedSignFailedReasons" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithEntityTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithExecutedFunctions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithFilterOperatorTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithFlowTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithFormatControlValidationStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithFundsTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGenders" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGoodsAcceptanceResultTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGoodsTransportWaybillCargoDeliveredTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGoodsTransportWaybillCargoReceivedTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGoodsTransportWaybillConsigneeTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGoodsTransportWaybillConsignorTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithGoodsTransportWaybillStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithIdentityDocumentTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithInvoiceFlowStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithInvoiceModificationStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithMessageStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithOperationStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithOrganizationByCriterias" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithOrganizationStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithOrganizationTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithPaymentTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithRecipientFlowStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithRegistrationResponseCodes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSenderFlowStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSettingTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSignQualificationTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSignatureMarks" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSignerTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSimpleSignatureAvailabilityStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithSubjectPersonTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTextValueTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTitleTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillCargoDeliveredTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillCargoReceivedTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillCarrierTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillConsigneeTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillConsignorTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillCopyTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillDeliveryPlaceChangeTitleFormatVersions" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillInterchangeParticipantTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithTransportWaybillStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithValidationMessageCategories" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithValidationMessageStatuses" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithValidationResultFormats" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithVatAmountTypes" type="xs:boolean" />
          <xs:element minOccurs="0" name="WithVatRates" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FullEnumValuesRequest" nillable="true" type="tns:FullEnumValuesRequest" />
  <xs:complexType name="SpecifiedEnumValuesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EnumValuesRequest">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ActivityStatuses" nillable="true" type="q1:ArrayOfActivityStatus" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="AddressLocationTypes" nillable="true" type="q2:ArrayOfAddressLocationType" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="AddressTypes" nillable="true" type="q3:ArrayOfAddressType" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CertificateIssueRequestTypes" nillable="true" type="q4:ArrayOfCertificateIssueRequestType" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CertificateIssueStatuses" nillable="true" type="q5:ArrayOfCertificateIssueStatus" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CertificateValidationStatuses" nillable="true" type="q6:ArrayOfCertificateValidationStatus" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CircumstancesOfProducings" nillable="true" type="q7:ArrayOfCircumstancesOfProducing" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CloudProviderTypes" nillable="true" type="q8:ArrayOfCloudProviderType" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" minOccurs="0" name="CompositeFilterOperatorTypes" nillable="true" type="q9:ArrayOfCompositeFilterOperatorType" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ContactAuthTypes" nillable="true" type="q10:ArrayOfContactAuthType" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ContactStatuses" nillable="true" type="q11:ArrayOfContactStatus" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ContentFormats" nillable="true" type="q12:ArrayOfContentFormat" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DivergenceDocumentTypes" nillable="true" type="q13:ArrayOfDivergenceDocumentType" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentDeliveryStatuses" nillable="true" type="q14:ArrayOfDocumentDeliveryStatus" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentFlowParticipantRoles" nillable="true" type="q15:ArrayOfDocumentFlowParticipantRole" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentFlowResultModes" nillable="true" type="q16:ArrayOfDocumentFlowResultMode" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentFlowTypes" nillable="true" type="q17:ArrayOfDocumentFlowType" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentMultiDeliveryStatuses" nillable="true" type="q18:ArrayOfDocumentMultiDeliveryStatus" />
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentMultiSignStatuses" nillable="true" type="q19:ArrayOfDocumentMultiSignStatus" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentOperationCodes" nillable="true" type="q20:ArrayOfDocumentOperationCodes" />
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentPurposes" nillable="true" type="q21:ArrayOfDocumentPurpose" />
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentRevocationStatuses" nillable="true" type="q22:ArrayOfDocumentRevocationStatus" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentSignStatuses" nillable="true" type="q23:ArrayOfDocumentSignStatus" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentTagTypes" nillable="true" type="q24:ArrayOfDocumentTagType" />
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentTypes" nillable="true" type="q25:ArrayOfDocumentType" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DraftMessageSendModes" nillable="true" type="q26:ArrayOfDraftMessageSendMode" />
          <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EdiSubscriberStatuses" nillable="true" type="q27:ArrayOfEdiSubscriberStatus" />
          <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EmployeeFilterFieldNameLists" nillable="true" type="q28:ArrayOfEmployeeFilterFieldNameList" />
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EnhancedSignCreateStatuses" nillable="true" type="q29:ArrayOfEnhancedSignCreateStatus" />
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EnhancedSignFailedReasons" nillable="true" type="q30:ArrayOfEnhancedSignFailedReason" />
          <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" minOccurs="0" name="EntityTypes" nillable="true" type="q31:ArrayOfEntityType" />
          <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ExecutedFunctions" nillable="true" type="q32:ArrayOfExecutedFunction" />
          <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" minOccurs="0" name="FilterOperatorTypes" nillable="true" type="q33:ArrayOfFilterOperatorType" />
          <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FlowTypes" nillable="true" type="q34:ArrayOfFlowType" />
          <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FormatControlValidationStatuses" nillable="true" type="q35:ArrayOfFormatControlValidationStatus" />
          <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FundsTypes" nillable="true" type="q36:ArrayOfFundsType" />
          <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="Genders" nillable="true" type="q37:ArrayOfGender" />
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsAcceptanceResultTypes" nillable="true" type="q38:ArrayOfGoodsAcceptanceResultType" />
          <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.GoodsTransportWaybill" minOccurs="0" name="GoodsTransportWaybillCargoDeliveredTitleFormatVersions" nillable="true" type="q39:ArrayOfGoodsTransportWaybillCargoDeliveredTitleFormatVersion" />
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.GoodsTransportWaybill" minOccurs="0" name="GoodsTransportWaybillCargoReceivedTitleFormatVersions" nillable="true" type="q40:ArrayOfGoodsTransportWaybillCargoReceivedTitleFormatVersion" />
          <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.GoodsTransportWaybill" minOccurs="0" name="GoodsTransportWaybillConsigneeTitleFormatVersions" nillable="true" type="q41:ArrayOfGoodsTransportWaybillConsigneeTitleFormatVersion" />
          <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.GoodsTransportWaybill" minOccurs="0" name="GoodsTransportWaybillConsignorTitleFormatVersions" nillable="true" type="q42:ArrayOfGoodsTransportWaybillConsignorTitleFormatVersion" />
          <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsTransportWaybillStatuses" nillable="true" type="q43:ArrayOfGoodsTransportWaybillStatus" />
          <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="IdentityDocumentTypes" nillable="true" type="q44:ArrayOfIdentityDocumentType" />
          <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="InvoiceFlowStatuses" nillable="true" type="q45:ArrayOfInvoiceFlowStatus" />
          <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="InvoiceModificationStatuses" nillable="true" type="q46:ArrayOfInvoiceModificationStatus" />
          <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="MessageStatuses" nillable="true" type="q47:ArrayOfMessageStatus" />
          <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OperationStatuses" nillable="true" type="q48:ArrayOfOperationStatus" />
          <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OrganizationByCriterias" nillable="true" type="q49:ArrayOfOrganizationByCriteria" />
          <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OrganizationStatuses" nillable="true" type="q50:ArrayOfOrganizationStatus" />
          <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OrganizationTypes" nillable="true" type="q51:ArrayOfOrganizationType" />
          <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="PaymentTypes" nillable="true" type="q52:ArrayOfPaymentType" />
          <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="RecipientFlowStatuses" nillable="true" type="q53:ArrayOfRecipientFlowStatus" />
          <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="RegistrationResponseCodes" nillable="true" type="q54:ArrayOfRegistrationResponseCode" />
          <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SenderFlowStatuses" nillable="true" type="q55:ArrayOfSenderFlowStatus" />
          <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SettingTypes" nillable="true" type="q56:ArrayOfSettingType" />
          <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SignQualificationTypes" nillable="true" type="q57:ArrayOfSignQualificationType" />
          <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SignatureMarks" nillable="true" type="q58:ArrayOfSignatureMark" />
          <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SignerTypes" nillable="true" type="q59:ArrayOfSignerType" />
          <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SimpleSignatureAvailabilityStatuses" nillable="true" type="q60:ArrayOfSimpleSignatureAvailabilityStatus" />
          <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SubjectPersonTypes" nillable="true" type="q61:ArrayOfSubjectPersonType" />
          <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" minOccurs="0" name="TextValueTypes" nillable="true" type="q62:ArrayOfTextValueType" />
          <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TitleTypes" nillable="true" type="q63:ArrayOfTitleType" />
          <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCargoDeliveredTitleFormatVersions" nillable="true" type="q64:ArrayOfTransportWaybillCargoDeliveredTitleFormatVersion" />
          <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCargoReceivedTitleFormatVersions" nillable="true" type="q65:ArrayOfTransportWaybillCargoReceivedTitleFormatVersion" />
          <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCarrierTitleFormatVersions" nillable="true" type="q66:ArrayOfTransportWaybillCarrierTitleFormatVersion" />
          <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillConsigneeTitleFormatVersions" nillable="true" type="q67:ArrayOfTransportWaybillConsigneeTitleFormatVersion" />
          <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillConsignorTitleFormatVersions" nillable="true" type="q68:ArrayOfTransportWaybillConsignorTitleFormatVersion" />
          <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCopyTypes" nillable="true" type="q69:ArrayOfTransportWaybillCopyType" />
          <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillDeliveryPlaceChangeTitleFormatVersions" nillable="true" type="q70:ArrayOfTransportWaybillDeliveryPlaceChangeTitleFormatVersion" />
          <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillInterchangeParticipantTypes" nillable="true" type="q71:ArrayOfTransportWaybillInterchangeParticipantType" />
          <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillStatuses" nillable="true" type="q72:ArrayOfTransportWaybillStatus" />
          <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ValidationMessageCategories" nillable="true" type="q73:ArrayOfValidationMessageCategory" />
          <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ValidationMessageStatuses" nillable="true" type="q74:ArrayOfValidationMessageStatus" />
          <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ValidationResultFormats" nillable="true" type="q75:ArrayOfValidationResultFormat" />
          <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="VatAmountTypes" nillable="true" type="q76:ArrayOfVatAmountType" />
          <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="VatRates" nillable="true" type="q77:ArrayOfVatRate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecifiedEnumValuesRequest" nillable="true" type="tns:SpecifiedEnumValuesRequest" />
  <xs:complexType name="EnumValuesResponse">
    <xs:sequence>
      <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ActivityStatuses" nillable="true" type="q78:ArrayOfEnumValue" />
      <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="AddressLocationTypes" nillable="true" type="q79:ArrayOfEnumValue" />
      <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="AddressTypes" nillable="true" type="q80:ArrayOfEnumValue" />
      <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CertificateIssueRequestTypes" nillable="true" type="q81:ArrayOfEnumValue" />
      <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CertificateIssueStatuses" nillable="true" type="q82:ArrayOfEnumValue" />
      <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CertificateValidationStatuses" nillable="true" type="q83:ArrayOfEnumValue" />
      <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CircumstancesOfProducings" nillable="true" type="q84:ArrayOfEnumValue" />
      <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CloudProviderTypes" nillable="true" type="q85:ArrayOfEnumValue" />
      <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="CompositeFilterOperatorTypes" nillable="true" type="q86:ArrayOfEnumValue" />
      <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ContactAuthTypes" nillable="true" type="q87:ArrayOfEnumValue" />
      <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ContactStatuses" nillable="true" type="q88:ArrayOfEnumValue" />
      <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ContentFormats" nillable="true" type="q89:ArrayOfEnumValue" />
      <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DivergenceDocumentTypes" nillable="true" type="q90:ArrayOfEnumValue" />
      <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentDeliveryStatuses" nillable="true" type="q91:ArrayOfEnumValue" />
      <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentFlowParticipantRoles" nillable="true" type="q92:ArrayOfEnumValue" />
      <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentFlowResultModes" nillable="true" type="q93:ArrayOfEnumValue" />
      <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentFlowTypes" nillable="true" type="q94:ArrayOfEnumValue" />
      <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentMultiDeliveryStatuses" nillable="true" type="q95:ArrayOfEnumValue" />
      <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentMultiSignStatuses" nillable="true" type="q96:ArrayOfEnumValue" />
      <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentOperationCodes" nillable="true" type="q97:ArrayOfEnumValue" />
      <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentPurposes" nillable="true" type="q98:ArrayOfEnumValue" />
      <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentRevocationStatuses" nillable="true" type="q99:ArrayOfEnumValue" />
      <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentSignStatuses" nillable="true" type="q100:ArrayOfEnumValue" />
      <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentTagTypes" nillable="true" type="q101:ArrayOfEnumValue" />
      <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DocumentTypes" nillable="true" type="q102:ArrayOfEnumValue" />
      <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="DraftMessageSendModes" nillable="true" type="q103:ArrayOfEnumValue" />
      <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EdiSubscriberStatuses" nillable="true" type="q104:ArrayOfEnumValue" />
      <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EmployeeFilterFieldNameLists" nillable="true" type="q105:ArrayOfEnumValue" />
      <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EnhancedSignCreateStatuses" nillable="true" type="q106:ArrayOfEnumValue" />
      <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EnhancedSignFailedReasons" nillable="true" type="q107:ArrayOfEnumValue" />
      <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="EntityTypes" nillable="true" type="q108:ArrayOfEnumValue" />
      <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ExecutedFunctions" nillable="true" type="q109:ArrayOfEnumValue" />
      <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FilterOperatorTypes" nillable="true" type="q110:ArrayOfEnumValue" />
      <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FlowTypes" nillable="true" type="q111:ArrayOfEnumValue" />
      <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FormatControlValidationStatuses" nillable="true" type="q112:ArrayOfEnumValue" />
      <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="FundsTypes" nillable="true" type="q113:ArrayOfEnumValue" />
      <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="Genders" nillable="true" type="q114:ArrayOfEnumValue" />
      <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsAcceptanceResultTypes" nillable="true" type="q115:ArrayOfEnumValue" />
      <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsTransportWaybillCargoDeliveredTitleFormatVersions" nillable="true" type="q116:ArrayOfEnumValue" />
      <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsTransportWaybillCargoReceivedTitleFormatVersions" nillable="true" type="q117:ArrayOfEnumValue" />
      <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsTransportWaybillConsigneeTitleFormatVersions" nillable="true" type="q118:ArrayOfEnumValue" />
      <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsTransportWaybillConsignorTitleFormatVersions" nillable="true" type="q119:ArrayOfEnumValue" />
      <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="GoodsTransportWaybillStatuses" nillable="true" type="q120:ArrayOfEnumValue" />
      <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="IdentityDocumentTypes" nillable="true" type="q121:ArrayOfEnumValue" />
      <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="InvoiceFlowStatuses" nillable="true" type="q122:ArrayOfEnumValue" />
      <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="InvoiceModificationStatuses" nillable="true" type="q123:ArrayOfEnumValue" />
      <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="MessageStatuses" nillable="true" type="q124:ArrayOfEnumValue" />
      <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OperationStatuses" nillable="true" type="q125:ArrayOfEnumValue" />
      <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OrganizationByCriterias" nillable="true" type="q126:ArrayOfEnumValue" />
      <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OrganizationStatuses" nillable="true" type="q127:ArrayOfEnumValue" />
      <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="OrganizationTypes" nillable="true" type="q128:ArrayOfEnumValue" />
      <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="PaymentTypes" nillable="true" type="q129:ArrayOfEnumValue" />
      <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="RecipientFlowStatuses" nillable="true" type="q130:ArrayOfEnumValue" />
      <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="RegistrationResponseCodes" nillable="true" type="q131:ArrayOfEnumValue" />
      <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SenderFlowStatuses" nillable="true" type="q132:ArrayOfEnumValue" />
      <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SettingTypes" nillable="true" type="q133:ArrayOfEnumValue" />
      <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SignQualificationTypes" nillable="true" type="q134:ArrayOfEnumValue" />
      <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SignatureMarks" nillable="true" type="q135:ArrayOfEnumValue" />
      <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SignerTypes" nillable="true" type="q136:ArrayOfEnumValue" />
      <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SimpleSignatureAvailabilityStatuses" nillable="true" type="q137:ArrayOfEnumValue" />
      <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="SubjectPersonTypes" nillable="true" type="q138:ArrayOfEnumValue" />
      <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TextValueTypes" nillable="true" type="q139:ArrayOfEnumValue" />
      <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TitleTypes" nillable="true" type="q140:ArrayOfEnumValue" />
      <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCargoDeliveredTitleFormatVersions" nillable="true" type="q141:ArrayOfEnumValue" />
      <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCargoReceivedTitleFormatVersions" nillable="true" type="q142:ArrayOfEnumValue" />
      <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCarrierTitleFormatVersions" nillable="true" type="q143:ArrayOfEnumValue" />
      <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillConsigneeTitleFormatVersions" nillable="true" type="q144:ArrayOfEnumValue" />
      <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillConsignorTitleFormatVersions" nillable="true" type="q145:ArrayOfEnumValue" />
      <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillCopyTypes" nillable="true" type="q146:ArrayOfEnumValue" />
      <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillDeliveryPlaceChangeTitleFormatVersions" nillable="true" type="q147:ArrayOfEnumValue" />
      <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillInterchangeParticipantTypes" nillable="true" type="q148:ArrayOfEnumValue" />
      <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="TransportWaybillStatuses" nillable="true" type="q149:ArrayOfEnumValue" />
      <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ValidationMessageCategories" nillable="true" type="q150:ArrayOfEnumValue" />
      <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ValidationMessageStatuses" nillable="true" type="q151:ArrayOfEnumValue" />
      <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="ValidationResultFormats" nillable="true" type="q152:ArrayOfEnumValue" />
      <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="VatAmountTypes" nillable="true" type="q153:ArrayOfEnumValue" />
      <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Midway.ObjectModel" minOccurs="0" name="VatRates" nillable="true" type="q154:ArrayOfEnumValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnumValuesResponse" nillable="true" type="tns:EnumValuesResponse" />
</xs:schema>