SDK/Midway.ServiceClient/Service References/Model/ExchangeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Midway.ObjectModel.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/ExchangeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PageSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageSettings" nillable="true" type="tns:PageSettings" />
  <xs:complexType name="ArrayOfCompositeFilterOperatorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeFilterOperatorType" type="tns:CompositeFilterOperatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeFilterOperatorType" nillable="true" type="tns:ArrayOfCompositeFilterOperatorType" />
  <xs:simpleType name="CompositeFilterOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="And">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Or">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompositeFilterOperatorType" nillable="true" type="tns:CompositeFilterOperatorType" />
  <xs:complexType name="ArrayOfEntityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityType" type="tns:EntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityType" nillable="true" type="tns:ArrayOfEntityType" />
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Employee">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityType" nillable="true" type="tns:EntityType" />
  <xs:complexType name="ArrayOfFilterOperatorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterOperatorType" type="tns:FilterOperatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilterOperatorType" nillable="true" type="tns:ArrayOfFilterOperatorType" />
  <xs:simpleType name="FilterOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equals">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotEquals">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Greater">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Less">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GreaterOrEquals">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LessOrEquals">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Contains">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotContains">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="In">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotIn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EqualsField">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotEqualsField">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GreaterField">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LessField">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GreaterOrEqualsField">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LessOrEqualsField">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IsNull">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IsNotNull">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterOperatorType" nillable="true" type="tns:FilterOperatorType" />
  <xs:complexType name="ArrayOfTextValueType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextValueType" type="tns:TextValueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextValueType" nillable="true" type="tns:ArrayOfTextValueType" />
  <xs:simpleType name="TextValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String" />
      <xs:enumeration value="Boolean" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TextValueType" nillable="true" type="tns:TextValueType" />
  <xs:complexType name="FetchingSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Paging" nillable="true" type="tns:PageSettings" />
      <xs:element minOccurs="0" name="Sorting" nillable="true" type="tns:ArrayOfSortingSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FetchingSettings" nillable="true" type="tns:FetchingSettings" />
  <xs:complexType name="ArrayOfSortingSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortingSetting" nillable="true" type="tns:SortingSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortingSetting" nillable="true" type="tns:ArrayOfSortingSetting" />
  <xs:complexType name="SortingSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asc" type="xs:boolean" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortingSetting" nillable="true" type="tns:SortingSetting" />
</xs:schema>